.cache
.history
.netlify
.rollup.cache
.vscode
.vscode/settings.json
.yarn

*.
*.md
*.json
*.config.js
*.spec.ts
*.spec.tsx
**/.DS_Store
**/*.log

bazel-*
bazel-bin
bazel-out
bazel-qwik
bazel-testlogs
build
dist
dist
dist-dev
etc
external
lib
lib-types
node_modules
output
rollup.config.js
server
target
temp
tsc-out
tsconfig*
tsdoc-metadata.json
vite.config.ts
package-lock.json
yarn.lock
pnpm-lock.yaml
